# Women's imprisonment rates
## Criminal Justice Statistics Police Force Area: Filtering by custodial sentence length

In [1]:
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

## Testing `filter_sentence_length.py`

In [3]:
from src.data.processing import filter_sentence_length

In [4]:
df = filter_sentence_length.load_and_process_data()

2025-06-11 10:44:23,111 - INFO - Loaded data from data/interim/women_cust_comm_sus.csv
2025-06-11 10:44:23,439 - INFO - Filtering data for custodial sentences...
2025-06-11 10:44:23,452 - INFO - Grouping sentence lengths...
2025-06-11 10:44:23,555 - INFO - Sentence lengths grouped and recategorised.
2025-06-11 10:44:23,556 - INFO - Grouping data by PFA, year, and sentence length...

In [ ]:
df.info()

In [ ]:
categories = df['sentence_len'].cat.categories
categories

In [5]:
df

                    pfa  year                     sentence_len  freq
0     Avon and Somerset  2010               Less than 6 months   113
1     Avon and Somerset  2010  6 months to less than 12 months    16
2     Avon and Somerset  2010                12 months or more    49
3     Avon and Somerset  2011               Less than 6 months   142
4     Avon and Somerset  2011  6 months to less than 12 months    21
...                 ...   ...                              ...   ...
1839          Wiltshire  2023  6 months to less than 12 months     4
1840          Wiltshire  2023                12 months or more    10
1841          Wiltshire  2024               Less than 6 months    22
1842          Wiltshire  2024  6 months to less than 12 months     1
1843          Wiltshire  2024                12 months or more     9

[1844 rows x 4 columns]

## Moving on to testing `make_custody_tables.py`

In [4]:
from src.data.processing import make_custody_tables

In [5]:
df = make_custody_tables.load_and_process_data()
df

2025-06-11 11:18:16,093 - INFO - Loaded data from data/processed/women_cust_sentence_len_FINAL.csv

                    pfa  year                     sentence_len  freq
0     Avon and Somerset  2010               Less than 6 months   113
1     Avon and Somerset  2010  6 months to less than 12 months    16
2     Avon and Somerset  2010                12 months or more    49
3     Avon and Somerset  2011               Less than 6 months   142
4     Avon and Somerset  2011  6 months to less than 12 months    21
...                 ...   ...                              ...   ...
1839          Wiltshire  2023  6 months to less than 12 months     4
1840          Wiltshire  2023                12 months or more    10
1841          Wiltshire  2024               Less than 6 months    22
1842          Wiltshire  2024  6 months to less than 12 months     1
1843          Wiltshire  2024                12 months or more     9

[1844 rows x 4 columns]

In [6]:
import src.utilities as utils
config = utils.read_config()

In [8]:
OUTPUT_FILENAME_TEMPLATE = config['data']['datasetFilenames']['make_custody_tables_template']
OUTPUT_FILENAME_TEMPLATE

'PFA_custodial_sentences_{category}_FINAL.csv'

In [18]:
make_custody_tables.get_output_filename(
    category="6 months",
    template=OUTPUT_FILENAME_TEMPLATE
)

'PFA_custodial_sentences_six_months_FINAL.csv'

In [21]:
VALID_CATEGORIES = {
    "all": {
        "filter": None,
        "slug": "all"
    },
    "6 months": {
        "filter": ["Less than 6 months"],
        "slug": "six_months"
    },
    "12 months": {
        "filter": ["Less than 6 months", "6 months to less than 12 months"],
        "slug": "12_months"
    }
}

In [22]:
VALID_CATEGORIES

{'all': {'filter': None, 'slug': 'all'},
 '6 months': {'filter': ['Less than 6 months'], 'slug': 'six_months'},
 '12 months': {'filter': ['Less than 6 months',
   '6 months to less than 12 months'],
  'slug': '12_months'}}

In [24]:
make_custody_tables.load_and_process_data()

2025-06-11 12:00:59,956 - INFO - Loaded data from data/processed/women_cust_sentence_len_FINAL.csv
2025-06-11 12:00:59,961 - INFO - Filtering for the total number of custodial sentences
2025-06-11 12:00:59,964 - INFO - Filtering data from 2014 onwards
2025-06-11 12:00:59,975 - INFO - Saving...
2025-06-11 12:00:59,978 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_all_FINAL.csv
2025-06-11 12:00:59,979 - INFO - Filtering for custodial sentences of less than 6 months
2025-06-11 12:00:59,985 - INFO - Filtering data from 2014 onwards
2025-06-11 12:00:59,994 - INFO - Saving...
2025-06-11 12:00:59,998 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_six_months_FINAL.csv
2025-06-11 12:00:59,998 - INFO - Filtering for custodial sentences of less than 12 months
2025-06-11 12:01:00,005 - INFO - Filtering data from 2014 onwards
2025-06-11 12:01:00,014 - INFO - Saving...
2025-06-11 12:01:00,018 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_12_months_FINAL.csv

That's working nicely. Now to move on to developing the `calculate_percentage_change` function.

## `calculate_percentage_change`

Loading one of the processed dataframes to perform the calculation and processing testing.

In [38]:
df = pd.read_csv("data/processed/PFA_custodial_sentences_6_months_FINAL.csv")
df

,pfa,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,per_change_2014
0,Avon and Somerset,143,126,105,92,98,90,80,61,62,93,117,-0.181818
1,Bedfordshire,48,50,33,34,25,24,14,10,20,21,23,-0.520833
2,Cambridgeshire,55,56,84,82,89,60,44,32,45,56,58,0.054545
3,Cheshire,124,131,125,126,114,98,79,54,39,66,65,-0.475806
4,Cleveland,73,48,69,103,108,60,28,50,56,91,138,0.890411
5,Cumbria,60,59,60,65,94,48,27,20,18,36,49,-0.183333
6,Derbyshire,125,134,131,120,134,87,90,82,82,76,82,-0.344000
7,Devon and Cornwall,73,84,81,87,80,73,69,55,41,72,82,0.123288
8,Dorset,36,49,40,40,35,44,24,15,10,29,28,-0.222222
9,Durham,55,50,53,40,48,26,30,26,41,48,52,-0.054545
10,Dyfed Powys,17,19,18,24,19,28,15,13,20,23,9,-0.470588
11,Essex,157,117,121,107,131,118,64,53,51,52,56,-0.643312
12,Gloucestershire,50,50,41,36,26,26,8,5,12,20,29,-0.420000
13,Greater Manchester,302,239,170,151,127,117,94,89,111,179,248,-0.178808
14,Gwent,55,50,53,71,52,27,17,21,16,29,51,-0.072727
15,Hampshire,130,138,107,119,98,86,87,53,62,62,138,0.061538
16,Hertfordshire,63,64,80,66,55,41,22,21,25,32,37,-0.412698
17,Humberside,91,84,100,68,111,96,90,76,66,87,100,0.098901
18,Kent,126,111,129,109,104,82,81,88,70,84,100,-0.206349
19,Lancashire,126,120,94,113,128,100,54,57,58,77,156,0.238095
20,Leicestershire,71,61,67,65,80,71,65,38,42,48,50,-0.295775
21,Lincolnshire,30,43,57,27,39,41,14,19,27,28,29,-0.033333
22,Merseyside,145,178,190,166,145,152,82,90,85,95,135,-0.068966
23,Metropolitan,843,784,857,725,677,602,412,331,344,320,410,-0.513642
24,Norfolk,48,67,91,67,74,57,51,34,28,54,48,0.000000
25,North Wales,63,76,87,69,64,52,36,45,54,55,47,-0.253968
26,North Yorkshire,55,48,52,56,57,63,57,33,34,49,52,-0.054545
27,Northamptonshire,66,52,52,43,41,41,22,38,28,47,59,-0.106061
28,Northumbria,122,123,102,94,114,97,52,61,50,81,95,-0.221311
29,Nottinghamshire,111,119,111,107,124,135,73,71,98,113,130,0.171171
30,South Wales,245,244,299,235,263,232,162,135,111,132,181,-0.261224
31,South Yorkshire,175,162,143,137,88,87,72,53,53,106,150,-0.142857
32,Staffordshire,80,81,66,62,75,80,49,51,49,48,56,-0.300000
33,Suffolk,54,46,31,42,37,23,30,18,27,31,23,-0.574074
34,Surrey,61,46,39,42,29,25,20,8,8,8,16,-0.737705
35,Sussex,68,97,80,60,66,39,37,20,27,28,48,-0.294118
36,Thames Valley,151,176,155,121,120,100,48,74,81,71,101,-0.331126
37,Warwickshire,72,82,86,77,53,60,41,36,37,10,7,-0.902778
38,West Mercia,78,66,77,77,77,74,65,45,20,43,35,-0.551282
39,West Midlands,347,340,343,274,254,226,140,120,116,185,203,-0.414986
40,West Yorkshire,188,187,227,208,199,188,165,152,179,264,275,0.462766
41,Wiltshire,19,24,31,29,37,32,16,16,21,23,22,0.157895

In [39]:
len(df.columns)

13

In [28]:
make_custody_tables.calculate_percentage_change(df)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

Right, need to set PFA back to being the index to address this.

In [31]:
df.set_index('pfa', inplace=True)
df

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
pfa,,,,,,,,,,,
Avon and Somerset,143,126,105,92,98,90,80,61,62,93,117
Bedfordshire,48,50,33,34,25,24,14,10,20,21,23
Cambridgeshire,55,56,84,82,89,60,44,32,45,56,58
Cheshire,124,131,125,126,114,98,79,54,39,66,65
Cleveland,73,48,69,103,108,60,28,50,56,91,138
Cumbria,60,59,60,65,94,48,27,20,18,36,49
Derbyshire,125,134,131,120,134,87,90,82,82,76,82
Devon and Cornwall,73,84,81,87,80,73,69,55,41,72,82
Dorset,36,49,40,40,35,44,24,15,10,29,28
Durham,55,50,53,40,48,26,30,26,41,48,52
Dyfed Powys,17,19,18,24,19,28,15,13,20,23,9
Essex,157,117,121,107,131,118,64,53,51,52,56
Gloucestershire,50,50,41,36,26,26,8,5,12,20,29
Greater Manchester,302,239,170,151,127,117,94,89,111,179,248
Gwent,55,50,53,71,52,27,17,21,16,29,51
Hampshire,130,138,107,119,98,86,87,53,62,62,138
Hertfordshire,63,64,80,66,55,41,22,21,25,32,37
Humberside,91,84,100,68,111,96,90,76,66,87,100
Kent,126,111,129,109,104,82,81,88,70,84,100
Lancashire,126,120,94,113,128,100,54,57,58,77,156
Leicestershire,71,61,67,65,80,71,65,38,42,48,50
Lincolnshire,30,43,57,27,39,41,14,19,27,28,29
Merseyside,145,178,190,166,145,152,82,90,85,95,135
Metropolitan,843,784,857,725,677,602,412,331,344,320,410
Norfolk,48,67,91,67,74,57,51,34,28,54,48
North Wales,63,76,87,69,64,52,36,45,54,55,47
North Yorkshire,55,48,52,56,57,63,57,33,34,49,52
Northamptonshire,66,52,52,43,41,41,22,38,28,47,59
Northumbria,122,123,102,94,114,97,52,61,50,81,95
Nottinghamshire,111,119,111,107,124,135,73,71,98,113,130
South Wales,245,244,299,235,263,232,162,135,111,132,181
South Yorkshire,175,162,143,137,88,87,72,53,53,106,150
Staffordshire,80,81,66,62,75,80,49,51,49,48,56
Suffolk,54,46,31,42,37,23,30,18,27,31,23
Surrey,61,46,39,42,29,25,20,8,8,8,16
Sussex,68,97,80,60,66,39,37,20,27,28,48
Thames Valley,151,176,155,121,120,100,48,74,81,71,101
Warwickshire,72,82,86,77,53,60,41,36,37,10,7
West Mercia,78,66,77,77,77,74,65,45,20,43,35
West Midlands,347,340,343,274,254,226,140,120,116,185,203
West Yorkshire,188,187,227,208,199,188,165,152,179,264,275
Wiltshire,19,24,31,29,37,32,16,16,21,23,22

In [36]:
make_custody_tables.calculate_percentage_change(df)

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,per_change_2014
pfa,,,,,,,,,,,,
Avon and Somerset,143,126,105,92,98,90,80,61,62,93,117,-0.181818
Bedfordshire,48,50,33,34,25,24,14,10,20,21,23,-0.520833
Cambridgeshire,55,56,84,82,89,60,44,32,45,56,58,0.054545
Cheshire,124,131,125,126,114,98,79,54,39,66,65,-0.475806
Cleveland,73,48,69,103,108,60,28,50,56,91,138,0.890411
Cumbria,60,59,60,65,94,48,27,20,18,36,49,-0.183333
Derbyshire,125,134,131,120,134,87,90,82,82,76,82,-0.344000
Devon and Cornwall,73,84,81,87,80,73,69,55,41,72,82,0.123288
Dorset,36,49,40,40,35,44,24,15,10,29,28,-0.222222
Durham,55,50,53,40,48,26,30,26,41,48,52,-0.054545
Dyfed Powys,17,19,18,24,19,28,15,13,20,23,9,-0.470588
Essex,157,117,121,107,131,118,64,53,51,52,56,-0.643312
Gloucestershire,50,50,41,36,26,26,8,5,12,20,29,-0.420000
Greater Manchester,302,239,170,151,127,117,94,89,111,179,248,-0.178808
Gwent,55,50,53,71,52,27,17,21,16,29,51,-0.072727
Hampshire,130,138,107,119,98,86,87,53,62,62,138,0.061538
Hertfordshire,63,64,80,66,55,41,22,21,25,32,37,-0.412698
Humberside,91,84,100,68,111,96,90,76,66,87,100,0.098901
Kent,126,111,129,109,104,82,81,88,70,84,100,-0.206349
Lancashire,126,120,94,113,128,100,54,57,58,77,156,0.238095
Leicestershire,71,61,67,65,80,71,65,38,42,48,50,-0.295775
Lincolnshire,30,43,57,27,39,41,14,19,27,28,29,-0.033333
Merseyside,145,178,190,166,145,152,82,90,85,95,135,-0.068966
Metropolitan,843,784,857,725,677,602,412,331,344,320,410,-0.513642
Norfolk,48,67,91,67,74,57,51,34,28,54,48,0.000000
North Wales,63,76,87,69,64,52,36,45,54,55,47,-0.253968
North Yorkshire,55,48,52,56,57,63,57,33,34,49,52,-0.054545
Northamptonshire,66,52,52,43,41,41,22,38,28,47,59,-0.106061
Northumbria,122,123,102,94,114,97,52,61,50,81,95,-0.221311
Nottinghamshire,111,119,111,107,124,135,73,71,98,113,130,0.171171
South Wales,245,244,299,235,263,232,162,135,111,132,181,-0.261224
South Yorkshire,175,162,143,137,88,87,72,53,53,106,150,-0.142857
Staffordshire,80,81,66,62,75,80,49,51,49,48,56,-0.300000
Suffolk,54,46,31,42,37,23,30,18,27,31,23,-0.574074
Surrey,61,46,39,42,29,25,20,8,8,8,16,-0.737705
Sussex,68,97,80,60,66,39,37,20,27,28,48,-0.294118
Thames Valley,151,176,155,121,120,100,48,74,81,71,101,-0.331126
Warwickshire,72,82,86,77,53,60,41,36,37,10,7,-0.902778
West Mercia,78,66,77,77,77,74,65,45,20,43,35,-0.551282
West Midlands,347,340,343,274,254,226,140,120,116,185,203,-0.414986
West Yorkshire,188,187,227,208,199,188,165,152,179,264,275,0.462766
Wiltshire,19,24,31,29,37,32,16,16,21,23,22,0.157895

In [37]:
make_custody_tables.main()

2025-06-11 14:35:43,919 - INFO - Loaded data from data/processed/women_cust_sentence_len_FINAL.csv
2025-06-11 14:35:43,925 - INFO - Filtering for the total number of custodial sentences
2025-06-11 14:35:43,931 - INFO - Filtering data from 2014 onwards
2025-06-11 14:35:43,953 - INFO - Saving...
2025-06-11 14:35:43,965 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_all_FINAL.csv
2025-06-11 14:35:43,966 - INFO - Filtering for custodial sentences of less than 6 months
2025-06-11 14:35:43,971 - INFO - Filtering data from 2014 onwards
2025-06-11 14:35:43,989 - INFO - Saving...
2025-06-11 14:35:43,995 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_6_months_FINAL.csv
2025-06-11 14:35:43,996 - INFO - Filtering for custodial sentences of less than 12 months
2025-06-11 14:35:44,002 - INFO - Filtering data from 2014 onwards
2025-06-11 14:35:44,022 - INFO - Saving...
2025-06-11 14:35:44,027 - INFO - Data successfully saved to data/processed/PFA_custodial_sentences_12_months_FINAL.csv