# Women's imprisonment rates
## ONS population by Police Force Area and Criminal Justice System statistics custody data: Merging datasets

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import src.utilities as utils
import src.data.processing.combine_custody_pfa_population as combine_custody_pfa_population

In [4]:
df1, df2 = combine_custody_pfa_population.load_data()

2025-07-07 15:07:19,420 - INFO - Loaded data from data/processed/PFA_custodial_sentences_all_FINAL.csv
2025-07-07 15:07:19,447 - INFO - Loaded data from data/interim/LA_PFA_population_women_2011-2023.csv

In [5]:
df1

,pfa,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,per_change_2014
0,Avon and Somerset,196,168,165,106,151,153,107,94,113,120,153,-0.219388
1,Bedfordshire,72,80,57,46,41,34,25,19,37,40,35,-0.513889
2,Cambridgeshire,93,92,119,102,117,90,76,47,69,81,83,-0.107527
3,Cheshire,168,179,165,148,160,139,120,102,65,108,96,-0.428571
4,Cleveland,113,90,121,129,161,101,55,96,96,140,192,0.699115
5,Cumbria,85,84,82,80,120,72,41,39,27,53,68,-0.200000
6,Derbyshire,165,174,170,125,169,120,126,121,112,110,112,-0.321212
7,Devon and Cornwall,116,127,119,93,124,110,105,87,66,88,118,0.017241
8,Dorset,58,65,54,46,54,63,36,35,22,47,44,-0.241379
9,Durham,75,71,71,42,66,37,58,47,57,60,71,-0.053333
10,Dyfed Powys,18,19,19,26,20,31,15,13,20,24,10,-0.444444
11,Essex,199,167,180,131,183,154,93,80,86,93,92,-0.537688
12,Gloucestershire,64,70,56,40,39,42,17,14,24,27,45,-0.296875
13,Greater Manchester,432,382,290,206,227,237,177,170,190,253,354,-0.180556
14,Gwent,56,51,55,74,56,27,18,24,17,31,52,-0.071429
15,Hampshire,190,210,157,128,157,128,134,105,92,97,186,-0.021053
16,Hertfordshire,86,84,99,80,69,65,37,37,41,55,54,-0.372093
17,Humberside,149,122,133,98,168,142,140,134,120,127,141,-0.053691
18,Kent,196,188,217,146,185,149,137,147,141,133,156,-0.204082
19,Lancashire,232,230,176,149,217,171,110,146,118,157,240,0.034483
20,Leicestershire,101,86,98,70,106,95,86,61,66,80,84,-0.168317
21,Lincolnshire,45,65,81,34,78,65,29,32,44,55,50,0.111111
22,London,1297,1187,1267,980,1036,908,630,545,583,583,701,-0.459522
23,Merseyside,245,277,281,208,238,228,151,184,179,195,212,-0.134694
24,Norfolk,85,99,124,87,108,86,85,59,49,87,73,-0.141176
25,North Wales,91,109,117,76,95,82,58,70,76,85,68,-0.252747
26,North Yorkshire,70,72,81,71,82,95,84,61,49,65,76,0.085714
27,Northamptonshire,93,70,77,45,56,57,35,61,43,62,72,-0.225806
28,Northumbria,170,175,165,124,148,146,91,110,102,119,145,-0.147059
29,Nottinghamshire,147,173,152,124,186,179,104,102,128,150,194,0.319728
30,South Wales,399,365,432,245,414,345,235,240,205,236,294,-0.263158
31,South Yorkshire,244,230,194,165,164,173,134,105,104,172,214,-0.122951
32,Staffordshire,124,128,111,73,116,130,84,92,71,85,91,-0.266129
33,Suffolk,80,74,57,53,55,45,42,45,34,52,45,-0.437500
34,Surrey,98,77,70,53,45,43,29,34,13,27,33,-0.663265
35,Sussex,117,131,116,76,100,87,70,61,61,51,89,-0.239316
36,Thames Valley,210,258,221,172,202,159,96,138,132,118,146,-0.304762
37,Warwickshire,99,107,117,81,73,86,67,55,69,42,45,-0.545455
38,West Mercia,112,97,112,82,106,113,99,58,44,64,57,-0.491071
39,West Midlands,473,470,501,296,361,339,216,196,181,272,313,-0.338266
40,West Yorkshire,298,294,334,259,278,288,267,256,247,349,402,0.348993
41,Wiltshire,33,41,49,29,49,48,35,32,33,37,32,-0.030303

In [13]:
custody_data = combine_custody_pfa_population.process_custody_data(df1)
custody_data

2025-07-02 16:28:52,817 - INFO - Processing CJS custody data...

                   pfa  year  custody_count
0    Avon and Somerset  2014            196
42   Avon and Somerset  2015            168
84   Avon and Somerset  2016            165
126  Avon and Somerset  2017            106
168  Avon and Somerset  2018            151
..                 ...   ...            ...
293          Wiltshire  2020             35
335          Wiltshire  2021             32
377          Wiltshire  2022             33
419          Wiltshire  2023             37
461          Wiltshire  2024             32

[462 rows x 3 columns]

In [15]:
df2

        ladcode          laname  year   freq          pfa
0     E06000001      Hartlepool  2011  37332    Cleveland
1     E06000001      Hartlepool  2012  37470    Cleveland
2     E06000001      Hartlepool  2013  37476    Cleveland
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
...         ...             ...   ...    ...          ...
4116  W06000024  Merthyr Tydfil  2019  24168  South Wales
4117  W06000024  Merthyr Tydfil  2020  24134  South Wales
4118  W06000024  Merthyr Tydfil  2021  24061  South Wales
4119  W06000024  Merthyr Tydfil  2022  24056  South Wales
4120  W06000024  Merthyr Tydfil  2023  23909  South Wales

[4121 rows x 5 columns]

In [21]:
population_data = combine_custody_pfa_population.process_population_data(df2, custody_data)
population_data

2025-07-02 17:03:10,972 - INFO - Processing population data...

        ladcode          laname  year   freq          pfa
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
5     E06000001      Hartlepool  2016  37589    Cleveland
6     E06000001      Hartlepool  2017  37649    Cleveland
7     E06000001      Hartlepool  2018  37692    Cleveland
...         ...             ...   ...    ...          ...
4116  W06000024  Merthyr Tydfil  2019  24168  South Wales
4117  W06000024  Merthyr Tydfil  2020  24134  South Wales
4118  W06000024  Merthyr Tydfil  2021  24061  South Wales
4119  W06000024  Merthyr Tydfil  2022  24056  South Wales
4120  W06000024  Merthyr Tydfil  2023  23909  South Wales

[3170 rows x 5 columns]

Completing a similar check to the previous analysis to ensure that both the filtering and all LAs are included

In [26]:
population_data.query('pfa == "Avon and Somerset" and year == 2014')

       ladcode                        laname  year    freq                pfa
276  E06000022  Bath and North East Somerset  2014   75340  Avon and Somerset
289  E06000023              Bristol, City of  2014  178108  Avon and Somerset
302  E06000024                North Somerset  2014   86610  Avon and Somerset
315  E06000025         South Gloucestershire  2014  108410  Avon and Somerset
809  E06000066                      Somerset  2014  225122  Avon and Somerset

Hmmm, seems as though there are some missing values

In [30]:
population_data.query('laname == "Mendip" and year == 2014')

Empty DataFrame
Columns: [ladcode, laname, year, freq, pfa]
Index: []

Checking population differences

In [39]:
new_pop_sum = population_data.query('pfa == "Avon and Somerset" and year == 2014')['freq'].sum()
old_pop_sum = 640099

In [42]:
pct_diff = ((new_pop_sum - old_pop_sum)/abs(old_pop_sum)) * 100
pct_diff

np.float64(5.23215940034276)

Just over 5%, so not massively out. Will investigate where those missing LAs have gone

Looking at the ONS' [*A Beginner's Guide to UK Geography*](https://geoportal.statistics.gov.uk/datasets/d1f39e20edb940d58307a54d6e1045cd/about) in 2023 "the four districts within the county of Somerset were merged to form Somerset UA".

Looking at the explanation of the *ONS' coding and naming policy* and the UK Geography guide codes starting with E06 refer to unitary authorities and E07 refer to non-metropolitan districts, so it would make sense that the E07 values have been dropped and a new E06 value has appeared in this more recent dataset. The coding policy explains:

*"Instances must not be coded with, and/or be based on, inbuilt intelligence (for example, alphabetically or hierarchically). This is because any later change (like renaming) that may occur might upset this inbuilt intelligence."*

Again, this makes it more understandable to see that there is no logical pattern to the last two numeric digits for the Somerset UA.

## Checking values for other UAs

I am using some of my previous analysis after the 2021 Census to compare against my new dataset in a new QA script. It's also important to note that this data wasn't reconciled post-Census at this stage, so it may also be helpful to compare against the subsequent adjusted mid-2011 to mid-2022 edition of the data at https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland

In [22]:
import src.data.LA_PFA_QA as LA_PFA_QA

In [31]:
df_population, df_reconciliation = LA_PFA_QA.load_data()

2025-07-07 16:13:36,145 - INFO - Loaded data from data/raw/MYEB1_detailed_population_estimates_series_UK_(2021_geog21).csv
2025-07-07 16:13:37,158 - INFO - Loaded data from data/raw/MYEB2_detailed_components_of_change_for reconciliation_EW_(2021_geog21).csv
2025-07-07 16:13:37,158 - INFO - Loaded data from data/raw/MYEB2_detailed_components_of_change_for reconciliation_EW_(2021_geog21).csv

In [19]:
df_population

       ladcode21       ladname21 country  sex  age  population_2021
0      E06000001      Hartlepool       E    1    0              446
1      E06000001      Hartlepool       E    1    1              477
2      E06000001      Hartlepool       E    1    2              506
3      E06000001      Hartlepool       E    1    3              464
4      E06000001      Hartlepool       E    1    4              524
...          ...             ...     ...  ...  ...              ...
68063  W06000024  Merthyr Tydfil       W    2   86               85
68064  W06000024  Merthyr Tydfil       W    2   87               54
68065  W06000024  Merthyr Tydfil       W    2   88               50
68066  W06000024  Merthyr Tydfil       W    2   89               50
68067  W06000024  Merthyr Tydfil       W    2   90              122

[68068 rows x 6 columns]

In [20]:
df_reconciliation

,ladcode21,ladname21,country,sex,age,population_2001,population_2002,population_2003,population_2004,population_2005,...,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,population_2020
0,E06000001,Hartlepool,E,1,0,519,499,513,517,551,...,555,557,509,514,517,511,509,464,491,455
1,E06000001,Hartlepool,E,1,1,550,520,511,508,518,...,584,559,557,507,515,522,526,496,477,489
2,E06000001,Hartlepool,E,1,2,548,558,517,506,513,...,561,575,574,554,516,523,526,525,516,484
3,E06000001,Hartlepool,E,1,3,523,549,554,511,501,...,565,565,586,581,551,531,543,530,542,516
4,E06000001,Hartlepool,E,1,4,589,527,553,574,510,...,546,552,561,591,584,564,532,550,525,539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60237,W06000024,Merthyr Tydfil,W,2,86,39,43,39,37,51,...,62,57,56,73,85,69,74,74,71,63
60238,W06000024,Merthyr Tydfil,W,2,87,29,30,36,29,29,...,46,55,43,47,63,74,65,64,67,55
60239,W06000024,Merthyr Tydfil,W,2,88,27,22,25,31,24,...,48,38,43,35,40,55,66,63,55,60
60240,W06000024,Merthyr Tydfil,W,2,89,22,24,17,22,23,...,32,44,32,38,28,32,45,54,55,44
60241,W06000024,Merthyr Tydfil,W,2,90,59,67,70,68,67,...,103,116,130,133,138,135,121,124,144,148

In [41]:
df_merged = LA_PFA_QA.combine_population_data(df_population, df_reconciliation)

2025-07-07 16:22:30,590 - INFO - Combining 2021 census population figures with reconciliation data...
2025-07-07 16:22:30,591 - INFO - Preprocessing population data...
2025-07-07 16:22:30,591 - INFO - Renaming columns with regex...
2025-07-07 16:22:30,591 - INFO - Preprocessing population data...
2025-07-07 16:22:30,591 - INFO - Renaming columns with regex...
2025-07-07 16:22:30,606 - INFO - Filtering for adult women...
2025-07-07 16:22:30,620 - INFO - Preprocessing population data...
2025-07-07 16:22:30,606 - INFO - Filtering for adult women...
2025-07-07 16:22:30,620 - INFO - Preprocessing population data...
2025-07-07 16:22:30,622 - INFO - Renaming columns with regex...
2025-07-07 16:22:30,622 - INFO - Renaming columns with regex...
2025-07-07 16:22:30,657 - INFO - Filtering for adult women...
2025-07-07 16:22:30,657 - INFO - Filtering for adult women...

In [42]:
df_merged

,ladcode,laname,country,sex,age,population_2001,population_2002,population_2003,population_2004,population_2005,...,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,population_2018,population_2019,population_2020,population_2021
0,E06000001,Hartlepool,E,2,18,558,595,645,640,665,...,655,667,628,622,546,548,554,618,521,521
1,E06000001,Hartlepool,E,2,19,490,465,537,580,556,...,517,583,612,575,577,497,461,489,553,452
2,E06000001,Hartlepool,E,2,20,506,465,442,505,549,...,611,499,570,564,556,544,475,454,494,509
3,E06000001,Hartlepool,E,2,21,498,497,450,439,503,...,598,605,478,554,575,552,545,481,465,489
4,E06000001,Hartlepool,E,2,22,467,494,489,468,459,...,558,635,618,504,582,595,578,559,509,502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24158,W06000024,Merthyr Tydfil,W,2,86,39,43,39,37,51,...,57,56,73,85,69,74,74,71,63,85
24159,W06000024,Merthyr Tydfil,W,2,87,29,30,36,29,29,...,55,43,47,63,74,65,64,67,55,54
24160,W06000024,Merthyr Tydfil,W,2,88,27,22,25,31,24,...,38,43,35,40,55,66,63,55,60,50
24161,W06000024,Merthyr Tydfil,W,2,89,22,24,17,22,23,...,44,32,38,28,32,45,54,55,44,50
24162,W06000024,Merthyr Tydfil,W,2,90,59,67,70,68,67,...,116,130,133,138,135,121,124,144,148,122

In [43]:
df = LA_PFA_QA.process_data(df_merged)
df

2025-07-07 16:26:14,196 - INFO - Melting DataFrame from wide to long format...
2025-07-07 16:26:14,437 - INFO - Cleaning year column...
2025-07-07 16:26:14,437 - INFO - Cleaning year column...
2025-07-07 16:26:14,745 - INFO - Combining age groups for aggregation...
2025-07-07 16:26:14,745 - INFO - Combining age groups for aggregation...

        ladcode          laname  year   freq
0     E06000001      Hartlepool  2001  32246
1     E06000001      Hartlepool  2002  32300
2     E06000001      Hartlepool  2003  32464
3     E06000001      Hartlepool  2004  32710
4     E06000001      Hartlepool  2005  32946
...         ...             ...   ...    ...
6946  W06000024  Merthyr Tydfil  2017  22859
6947  W06000024  Merthyr Tydfil  2018  22943
6948  W06000024  Merthyr Tydfil  2019  22976
6949  W06000024  Merthyr Tydfil  2020  23025
6950  W06000024  Merthyr Tydfil  2021  22389

[6951 rows x 4 columns]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6951 entries, 0 to 6950
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ladcode  6951 non-null   object
 1   laname   6951 non-null   category
 2   year     6951 non-null   object
 3   freq     6951 non-null   int64
dtypes: category(1), int64(1), object(2)
memory usage: 187.3+ KB