# Women's imprisonment rates
## ONS population by Police Force Area and Criminal Justice System statistics custody data: Merging datasets

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import src.utilities as utils
import src.data.processing.combine_custody_pfa_population as combine_custody_pfa_population

In [3]:
df1, df2 = combine_custody_pfa_population.load_data()

2025-07-11 10:47:38,304 - INFO - Loaded data from data/processed/PFA_custodial_sentences_all_FINAL.csv
2025-07-11 10:47:38,325 - INFO - Loaded data from data/interim/LA_PFA_population_women_2011-2023.csv

In [4]:
df1

,pfa,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,per_change_2014
0,Avon and Somerset,196,168,165,106,151,153,107,94,113,120,153,-0.219388
1,Bedfordshire,72,80,57,46,41,34,25,19,37,40,35,-0.513889
2,Cambridgeshire,93,92,119,102,117,90,76,47,69,81,83,-0.107527
3,Cheshire,168,179,165,148,160,139,120,102,65,108,96,-0.428571
4,Cleveland,113,90,121,129,161,101,55,96,96,140,192,0.699115
5,Cumbria,85,84,82,80,120,72,41,39,27,53,68,-0.200000
6,Derbyshire,165,174,170,125,169,120,126,121,112,110,112,-0.321212
7,Devon and Cornwall,116,127,119,93,124,110,105,87,66,88,118,0.017241
8,Dorset,58,65,54,46,54,63,36,35,22,47,44,-0.241379
9,Durham,75,71,71,42,66,37,58,47,57,60,71,-0.053333
10,Dyfed Powys,18,19,19,26,20,31,15,13,20,24,10,-0.444444
11,Essex,199,167,180,131,183,154,93,80,86,93,92,-0.537688
12,Gloucestershire,64,70,56,40,39,42,17,14,24,27,45,-0.296875
13,Greater Manchester,432,382,290,206,227,237,177,170,190,253,354,-0.180556
14,Gwent,56,51,55,74,56,27,18,24,17,31,52,-0.071429
15,Hampshire,190,210,157,128,157,128,134,105,92,97,186,-0.021053
16,Hertfordshire,86,84,99,80,69,65,37,37,41,55,54,-0.372093
17,Humberside,149,122,133,98,168,142,140,134,120,127,141,-0.053691
18,Kent,196,188,217,146,185,149,137,147,141,133,156,-0.204082
19,Lancashire,232,230,176,149,217,171,110,146,118,157,240,0.034483
20,Leicestershire,101,86,98,70,106,95,86,61,66,80,84,-0.168317
21,Lincolnshire,45,65,81,34,78,65,29,32,44,55,50,0.111111
22,London,1297,1187,1267,980,1036,908,630,545,583,583,701,-0.459522
23,Merseyside,245,277,281,208,238,228,151,184,179,195,212,-0.134694
24,Norfolk,85,99,124,87,108,86,85,59,49,87,73,-0.141176
25,North Wales,91,109,117,76,95,82,58,70,76,85,68,-0.252747
26,North Yorkshire,70,72,81,71,82,95,84,61,49,65,76,0.085714
27,Northamptonshire,93,70,77,45,56,57,35,61,43,62,72,-0.225806
28,Northumbria,170,175,165,124,148,146,91,110,102,119,145,-0.147059
29,Nottinghamshire,147,173,152,124,186,179,104,102,128,150,194,0.319728
30,South Wales,399,365,432,245,414,345,235,240,205,236,294,-0.263158
31,South Yorkshire,244,230,194,165,164,173,134,105,104,172,214,-0.122951
32,Staffordshire,124,128,111,73,116,130,84,92,71,85,91,-0.266129
33,Suffolk,80,74,57,53,55,45,42,45,34,52,45,-0.437500
34,Surrey,98,77,70,53,45,43,29,34,13,27,33,-0.663265
35,Sussex,117,131,116,76,100,87,70,61,61,51,89,-0.239316
36,Thames Valley,210,258,221,172,202,159,96,138,132,118,146,-0.304762
37,Warwickshire,99,107,117,81,73,86,67,55,69,42,45,-0.545455
38,West Mercia,112,97,112,82,106,113,99,58,44,64,57,-0.491071
39,West Midlands,473,470,501,296,361,339,216,196,181,272,313,-0.338266
40,West Yorkshire,298,294,334,259,278,288,267,256,247,349,402,0.348993
41,Wiltshire,33,41,49,29,49,48,35,32,33,37,32,-0.030303

In [5]:
custody_data = combine_custody_pfa_population.process_custody_data(df1)
custody_data

2025-07-11 10:47:43,426 - INFO - Processing CJS custody data...

                   pfa  year  custody_count
0    Avon and Somerset  2014            196
1    Avon and Somerset  2015            168
2    Avon and Somerset  2016            165
3    Avon and Somerset  2017            106
4    Avon and Somerset  2018            151
..                 ...   ...            ...
457          Wiltshire  2020             35
458          Wiltshire  2021             32
459          Wiltshire  2022             33
460          Wiltshire  2023             37
461          Wiltshire  2024             32

[462 rows x 3 columns]

In [6]:
df2

        ladcode          laname  year   freq          pfa
0     E06000001      Hartlepool  2011  37332    Cleveland
1     E06000001      Hartlepool  2012  37470    Cleveland
2     E06000001      Hartlepool  2013  37476    Cleveland
3     E06000001      Hartlepool  2014  37491    Cleveland
4     E06000001      Hartlepool  2015  37524    Cleveland
...         ...             ...   ...    ...          ...
4116  W06000024  Merthyr Tydfil  2019  24168  South Wales
4117  W06000024  Merthyr Tydfil  2020  24134  South Wales
4118  W06000024  Merthyr Tydfil  2021  24061  South Wales
4119  W06000024  Merthyr Tydfil  2022  24056  South Wales
4120  W06000024  Merthyr Tydfil  2023  23909  South Wales

[4121 rows x 5 columns]

In [8]:
population_data = combine_custody_pfa_population.process_population_data(df2, custody_data)
population_data

2025-07-11 10:48:22,083 - INFO - Processing population data...
2025-07-11 10:48:22,089 - INFO - Aggregating by: pfa, year

                   pfa  year    freq
0    Avon and Somerset  2014  673590
1    Avon and Somerset  2015  682193
2    Avon and Somerset  2016  692443
3    Avon and Somerset  2017  698921
4    Avon and Somerset  2018  706285
..                 ...   ...     ...
415          Wiltshire  2019  296485
416          Wiltshire  2020  298390
417          Wiltshire  2021  301817
418          Wiltshire  2022  303639
419          Wiltshire  2023  306157

[420 rows x 3 columns]

Right, we have the same issue as we've had previously where we have CJS data up to 2024, but ONS population data up to 2023

## Projecting the 2024 population

I'm going to try three different statistical modelling approaches to best predict the 2024 population for each of the areas:

1. Linear Trend
   
    **How it works**: Draws a straight line through recent population data and extends it forward.

    * **Analogy**: Like using a ruler to extend a line on graph paper
    * **Strengths**: Simple, reliable when population changes steadily
    * **Weaknesses**: Assumes change will continue at exactly the same rate forever

2. Compound Annual Growth Rate (CAGR)
    
    **How it works**: Calculates the average percentage growth per year and applies it forward.

    * **Analogy**: Like compound interest in a savings account
    * **Strengths**: Good for populations with consistent percentage growth
    * **Weaknesses**: Can produce unrealistic exponential growth over long periods

3. Moving Average
    
    **How it works**: Looks at recent year-to-year changes, averages them, and applies that average change forward.

    * **Analogy**: Like predicting tomorrow's temperature based on the average of recent daily changes
    * **Strengths**: Smooths out short-term fluctuations, adapts to recent trends
    * **Weaknesses**: May miss longer-term patterns, sensitive to unusual recent years

### Examining population trends by PFA to understand growth patterns

In [44]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
from src.visualization import prt_theme


pio.templates.default = "prt_template"
# Check the year range in our population data
print("Population data year range:", population_data['year'].min(), "to", population_data['year'].max())
print("Custody data year range:", custody_data['year'].min(), "to", custody_data['year'].max())

# Look at recent population trends for a few example PFAs
sample_pfas = population_data['pfa'].unique()[1:7]
recent_data = population_data[population_data['year'] >= 2018].copy()

# Create subplots using Plotly
fig = make_subplots(
    rows=2, cols=3,
    subplot_titles=sample_pfas,
    vertical_spacing=0.12,
    horizontal_spacing=0.08
)

for i, pfa in enumerate(sample_pfas):
    pfa_data = recent_data[recent_data['pfa'] == pfa].groupby('year')['freq'].sum().reset_index()
    
    # Calculate row and column position (Plotly uses 1-based indexing)
    row = (i // 3) + 1
    col = (i % 3) + 1
    
    fig.add_trace(
        go.Scatter(
            x=pfa_data['year'],
            y=pfa_data['freq'],
            mode='lines+markers',
            name=pfa,
            showlegend=False,
            line=dict(width=2),
            marker=dict(size=6)
        ),
        row=row, col=col
    )

# Update layout
fig.update_layout(
    margin=dict(l=60, r=20),
    height=600,
    width=850,
    title_text="Population Trends by Police Force Area (2018-2023)",
)

# Update x and y axis labels
fig.update_xaxes(title_text="", nticks=6)
fig.update_yaxes(title_text="", nticks=5, tickformat=",.0f")

fig.show()

Population data year range: 2014 to 2023
Custody data year range: 2014 to 2024

In [46]:
# Alternative: Single chart with all PFAs
fig = go.Figure()

for pfa in sample_pfas:
    pfa_data = recent_data[recent_data['pfa'] == pfa].groupby('year')['freq'].sum().reset_index()
    
    fig.add_trace(
        go.Scatter(
            x=pfa_data['year'],
            y=pfa_data['freq'],
            mode='lines+markers',
            name=pfa,
            line=dict(width=2),
            marker=dict(size=6)
        )
    )

fig.update_layout(
    title="Population Trends by Police Force Area (2018-2023)",
    xaxis_title="",
    yaxis_title="",
    hovermode='x unified',
    margin=dict(l=60, r=20),
    width=850,
)

fig.update_yaxes(title_text="", nticks=5, tickformat=",.0f", dtick=100000, rangemode='tozero', autorangeoptions_maxallowed=500000)  # Adjust the interval as needed

fig.show()

### Defining projection methods

In [47]:
def project_linear_trend(df, pfa_col='pfa', year_col='year', pop_col='freq', 
                        projection_year=2024, trend_years=5):
    """
    Project population using linear trend extrapolation.
    Uses the most recent `trend_years` of data to fit linear trends.
    """
    projections = []
    
    for pfa in df[pfa_col].unique():
        pfa_data = df[df[pfa_col] == pfa].copy()
        
        # Get recent years for trend fitting
        max_year = pfa_data[year_col].max()
        min_trend_year = max_year - trend_years + 1
        trend_data = pfa_data[pfa_data[year_col] >= min_trend_year]
        
        if len(trend_data) >= 3:  # Need at least 3 points for trend
            # Aggregate by year for this PFA
            yearly_totals = trend_data.groupby(year_col)[pop_col].sum().reset_index()
            
            # Fit linear trend
            years = yearly_totals[year_col].values
            pop = yearly_totals[pop_col].values
            
            # Linear regression
            coeffs = np.polyfit(years, pop, 1)
            slope, intercept = coeffs
            
            # Project to target year
            projected_pop = slope * projection_year + intercept
            
            projections.append({
                pfa_col: pfa,
                year_col: projection_year,
                pop_col: max(int(round(projected_pop)), 0),  # Round to integer and ensure non-negative
                'method': 'linear_trend',
                'trend_slope': slope
            })
    
    return pd.DataFrame(projections)

In [48]:
def project_cagr(df, pfa_col='pfa', year_col='year', pop_col='freq', 
                projection_year=2024, base_years=5):
    """
    Project population using Compound Annual Growth Rate.
    """
    projections = []
    
    for pfa in df[pfa_col].unique():
        pfa_data = df[df[pfa_col] == pfa].copy()
        
        # Get base period data
        max_year = pfa_data[year_col].max()
        start_year = max_year - base_years + 1
        
        yearly_totals = pfa_data.groupby(year_col)[pop_col].sum()
        
        if start_year in yearly_totals.index and max_year in yearly_totals.index:
            start_pop = yearly_totals[start_year]
            end_pop = yearly_totals[max_year]
            
            # Calculate CAGR
            years_diff = max_year - start_year
            if years_diff > 0 and start_pop > 0:
                cagr = (end_pop / start_pop) ** (1/years_diff) - 1
                
                # Project forward
                years_to_project = projection_year - max_year
                projected_pop = end_pop * (1 + cagr) ** years_to_project
                
                projections.append({
                    pfa_col: pfa,
                    year_col: projection_year,
                    pop_col: max(int(round(projected_pop)), 0),  # Round to integer and ensure non-negative
                    'method': 'cagr',
                    'growth_rate': cagr
                })
    
    return pd.DataFrame(projections)

In [50]:
def project_moving_average(df, pfa_col='pfa', year_col='year', pop_col='freq', 
                          projection_year=2024, window=3):
    """
    Project population using moving average of year-over-year changes.
    """
    projections = []
    
    for pfa in df[pfa_col].unique():
        pfa_data = df[df[pfa_col] == pfa].copy()
        yearly_totals = pfa_data.groupby(year_col)[pop_col].sum().sort_index()
        
        if len(yearly_totals) >= window + 1:
            # Calculate year-over-year changes
            changes = yearly_totals.diff().dropna()
            
            # Take moving average of recent changes
            avg_change = changes.tail(window).mean()
            
            # Project forward
            latest_pop = yearly_totals.iloc[-1]
            years_to_project = projection_year - yearly_totals.index[-1]
            projected_pop = latest_pop + (avg_change * years_to_project)
            
            projections.append({
                pfa_col: pfa,
                year_col: projection_year,
                pop_col: max(int(round(projected_pop)), 0),  # Round to integer and ensure non-negative
                'method': 'moving_average',
                'avg_annual_change': avg_change
            })
    
    return pd.DataFrame(projections)

### Apply all three methods

In [51]:
print("Generating 2024 population projections using different methods...")

linear_proj = project_linear_trend(population_data)
cagr_proj = project_cagr(population_data) 
ma_proj = project_moving_average(population_data)

print(f"Linear trend projections: {len(linear_proj)} PFAs")
print(f"CAGR projections: {len(cagr_proj)} PFAs") 
print(f"Moving average projections: {len(ma_proj)} PFAs")

Generating 2024 population projections using different methods...
Linear trend projections: 42 PFAs
CAGR projections: 42 PFAs
Moving average projections: 42 PFAs

### Compare the projections

In [53]:
comparison = linear_proj.merge(cagr_proj, on='pfa', suffixes=('_linear', '_cagr'))
comparison = comparison.merge(ma_proj, on='pfa')
comparison = comparison.rename(columns={'freq': 'freq_ma'})

# Calculate differences between methods
comparison['linear_vs_cagr'] = abs(comparison['freq_linear'] - comparison['freq_cagr']) / comparison['freq_linear'] * 100
comparison['linear_vs_ma'] = abs(comparison['freq_linear'] - comparison['freq_ma']) / comparison['freq_linear'] * 100

print("Comparison of projection methods:")
print(f"Average difference Linear vs CAGR: {comparison['linear_vs_cagr'].mean():.2f}%")
print(f"Average difference Linear vs Moving Avg: {comparison['linear_vs_ma'].mean():.2f}%")

# Show some examples
print("\nSample projections for first 5 PFAs:")
display(comparison[['pfa', 'freq_linear', 'freq_cagr', 'freq_ma', 'linear_vs_cagr', 'linear_vs_ma']].head())

Comparison of projection methods:
Average difference Linear vs CAGR: 0.16%
Average difference Linear vs Moving Avg: 0.25%

Sample projections for first 5 PFAs:

,pfa,freq_linear,freq_cagr,freq_ma,linear_vs_cagr,linear_vs_ma
0,Avon and Somerset,743474,744535,745101,0.142708,0.218838
1,Bedfordshire,286756,286868,286990,0.039058,0.081602
2,Cambridgeshire,374435,374362,374888,0.019496,0.120982
3,Cheshire,464720,464867,465389,0.031632,0.143958
4,Cleveland,237607,238544,239175,0.394349,0.659913

### Validation: Backtest the methods by predicting 2023 using 2018-2022 data

In [58]:
def validate_projection_method(df, method_func, actual_year=2023, **kwargs):
    """
    Validate projection method by predicting a known year and comparing to actual.
    """
    # Use data up to year before actual_year for prediction
    train_data = df[df['year'] < actual_year].copy()
    
    # Get actual values for comparison
    actual_data = df[df['year'] == actual_year].groupby('pfa', observed=True)['freq'].sum()
    
    # Generate projections
    projections = method_func(train_data, projection_year=actual_year, **kwargs)
    
    # Compare projections to actual
    comparison = projections.merge(actual_data.reset_index(), on='pfa', suffixes=('_pred', '_actual'))
    comparison['abs_error'] = abs(comparison['freq_pred'] - comparison['freq_actual'])
    comparison['pct_error'] = comparison['abs_error'] / comparison['freq_actual'] * 100
    
    return comparison

print("Validating projection methods by predicting 2023 using 2018-2022 data...")

# Validate each method
linear_validation = validate_projection_method(population_data, project_linear_trend)
cagr_validation = validate_projection_method(population_data, project_cagr)
ma_validation = validate_projection_method(population_data, project_moving_average)

print(f"\nValidation Results (Mean Absolute Percentage Error):")
print(f"Linear Trend: {linear_validation['pct_error'].mean():.5f}%")
print(f"CAGR: {cagr_validation['pct_error'].mean():.5f}%")
print(f"Moving Average: {ma_validation['pct_error'].mean():.5f}%")

# Choose the best performing method
methods = {
    'Linear Trend': linear_validation['pct_error'].mean(),
    'CAGR': cagr_validation['pct_error'].mean(),
    'Moving Average': ma_validation['pct_error'].mean()
}

best_method = min(methods, key=methods.get)
print(f"\nBest performing method: {best_method} (MAPE: {methods[best_method]:.5f}%)")

Validating projection methods by predicting 2023 using 2018-2022 data...

Validation Results (Mean Absolute Percentage Error):
Linear Trend: 0.44422%
CAGR: 0.30332%
Moving Average: 0.30317%

Best performing method: Moving Average (MAPE: 0.30317%)

## Projection recommendation

Based on the validation results above, the best-performing method for 2024 projections appears to be Moving Average.

### Statistical Best Practices Applied:

1. **Multiple Methods Tested**: Compared linear trend, CAGR, and moving average approaches
2. **Backtesting Validation**: Used historical data to test accuracy on known outcomes
3. **Error Metrics**: Used Mean Absolute Percentage Error (MAPE) to evaluate performance
4. **Conservative Bounds**: Ensured non-negative projections
5. **Sufficient Data**: Required minimum data points for reliable estimates

### Considerations for Imprisonment Rate Analysis:

- **Impact of Projection Error**: Small population projection errors have minimal impact on rate calculations
- **Consistency**: Use the same method across all PFAs for comparability
- **Uncertainty**: Document projection method and potential error range
- **Sensitivity Analysis**: Consider how projection uncertainty affects final conclusions

## Projection implementation
Implement the best method for 2024 projections

In [ ]:
if best_method == 'Linear Trend':
    final_2024_projections = linear_proj.copy()
elif best_method == 'CAGR':
    final_2024_projections = cagr_proj.copy()
else:
    final_2024_projections = ma_proj.copy()

# Prepare the 2024 population data in the same format as existing data
population_2024 = final_2024_projections[['pfa', 'year', 'freq']].copy()

print(f"Generated 2024 population projections using {best_method}")
print(f"Total projected population: {population_2024['freq'].sum():,.0f}")
print(f"Number of PFAs: {len(population_2024)}")

# Show sample of projections
print("\nSample 2024 projections:")
display(population_2024.head(10))

# Combine with existing population data for analysis
extended_population_data = pd.concat([population_data, population_2024], ignore_index=True).sort_values(by=['pfa', 'year']).reset_index(drop=True)
print(f"\nExtended population data: {extended_population_data['year'].min()} to {extended_population_data['year'].max()}")

# Now we can merge with custody data for the full 2014-2024 period
print(f"Custody data covers: {custody_data['year'].min()} to {custody_data['year'].max()}")
print("Ready for imprisonment rate calculations!")

Generated 2024 population projections using Moving Average
Total projected population: 25,056,450
Number of PFAs: 42

Sample 2024 projections:

                  pfa  year    freq
0   Avon and Somerset  2024  745101
1        Bedfordshire  2024  286990
2      Cambridgeshire  2024  374888
3            Cheshire  2024  465389
4           Cleveland  2024  239175
5             Cumbria  2024  212952
6          Derbyshire  2024  445302
7  Devon and Cornwall  2024  782633
8              Dorset  2024  338488
9              Durham  2024  272933

Extended population data: 2014 to 2024
Custody data covers: 2014 to 2024
Ready for imprisonment rate calculations!

### Visualising the projections

In [63]:
# Check the year range in our extended population data
print("Population data year range:", extended_population_data['year'].min(), "to", extended_population_data['year'].max())
print("Custody data year range:", custody_data['year'].min(), "to", custody_data['year'].max())

# Examining against the same sample PFAs
sample_pfas = extended_population_data['pfa'].unique()[1:7]
recent_data = extended_population_data[extended_population_data['year'] >= 2018].copy()

# Create subplots using Plotly
fig = make_subplots(
    rows=2, cols=3,
    subplot_titles=sample_pfas,
    vertical_spacing=0.12,
    horizontal_spacing=0.08
)

for i, pfa in enumerate(sample_pfas):
    pfa_data = recent_data[recent_data['pfa'] == pfa].groupby('year')['freq'].sum().reset_index()
    
    # Calculate row and column position (Plotly uses 1-based indexing)
    row = (i // 3) + 1
    col = (i % 3) + 1
    
    fig.add_trace(
        go.Scatter(
            x=pfa_data['year'],
            y=pfa_data['freq'],
            mode='lines+markers',
            name=pfa,
            showlegend=False,
            line=dict(width=2),
            marker=dict(size=6)
        ),
        row=row, col=col
    )

# Update layout
fig.update_layout(
    margin=dict(l=60, r=20),
    height=600,
    width=850,
    title_text="Population Trends by Police Force Area (2018-2024)",
)

# Update x and y axis labels
fig.update_xaxes(title_text="", nticks=6)
fig.update_yaxes(title_text="", tickformat=",.0f")

fig.show()

Population data year range: 2014 to 2024
Custody data year range: 2014 to 2024

In [65]:
# Alternative: Single chart with all PFAs
fig = go.Figure()

for pfa in sample_pfas:
    pfa_data = recent_data[recent_data['pfa'] == pfa].groupby('year')['freq'].sum().reset_index()
    
    fig.add_trace(
        go.Scatter(
            x=pfa_data['year'],
            y=pfa_data['freq'],
            mode='lines+markers',
            name=pfa,
            line=dict(width=2),
            marker=dict(size=6)
        )
    )

fig.update_layout(
    title="Population Trends by Police Force Area (2018-2024)",
    xaxis_title="",
    yaxis_title="",
    hovermode='x unified',
    margin=dict(l=60, r=20),
    width=850,
)

fig.update_yaxes(title_text="", nticks=5, tickformat=",.0f", dtick=100000, rangemode='tozero', autorangeoptions_maxallowed=500000)  # Adjust the interval as needed

fig.show()

## Merging population data with custody data

In [42]:
extended_population_data.head(11)

                  pfa  year    freq
0   Avon and Somerset  2014  673590
1   Avon and Somerset  2015  682193
2   Avon and Somerset  2016  692443
3   Avon and Somerset  2017  698921
4   Avon and Somerset  2018  706285
5   Avon and Somerset  2019  711974
6   Avon and Somerset  2020  716322
7   Avon and Somerset  2021  722184
8   Avon and Somerset  2022  730268
9   Avon and Somerset  2023  737906
10  Avon and Somerset  2024  745101

In [46]:
custody_data.head(11)

                  pfa  year  custody_count
0   Avon and Somerset  2014            196
1   Avon and Somerset  2015            168
2   Avon and Somerset  2016            165
3   Avon and Somerset  2017            106
4   Avon and Somerset  2018            151
5   Avon and Somerset  2019            153
6   Avon and Somerset  2020            107
7   Avon and Somerset  2021             94
8   Avon and Somerset  2022            113
9   Avon and Somerset  2023            120
10  Avon and Somerset  2024            153

In [70]:
merged_df = extended_population_data.merge(
    custody_data,
    on=['pfa', 'year'],
    how='left',
    suffixes=('', '_custody')
)
merged_df

                   pfa  year    freq  custody_count
0    Avon and Somerset  2014  673590          196.0
1    Avon and Somerset  2015  682193          168.0
2    Avon and Somerset  2016  692443          165.0
3    Avon and Somerset  2017  698921          106.0
4    Avon and Somerset  2018  706285          151.0
..                 ...   ...     ...            ...
457          Wiltshire  2020  298390           35.0
458          Wiltshire  2021  301817           32.0
459          Wiltshire  2022  303639           33.0
460          Wiltshire  2023  306157           37.0
461          Wiltshire  2024  308746           32.0

[462 rows x 4 columns]

Custody count appears to have converted to float, suggesting that there may be some null values

In [71]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pfa            462 non-null    object
 1   year           462 non-null    int64
 2   freq           462 non-null    int64
 3   custody_count  440 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 14.6+ KB

In [76]:
merged_df[merged_df['custody_count'].isna()]

                     pfa  year     freq  custody_count
110          Dyfed-Powys  2014   213265            NaN
111          Dyfed-Powys  2015   212745            NaN
112          Dyfed-Powys  2016   212914            NaN
113          Dyfed-Powys  2017   213084            NaN
114          Dyfed-Powys  2018   212897            NaN
115          Dyfed-Powys  2019   213278            NaN
116          Dyfed-Powys  2020   215341            NaN
117          Dyfed-Powys  2021   217306            NaN
118          Dyfed-Powys  2022   218738            NaN
119          Dyfed-Powys  2023   220541            NaN
120          Dyfed-Powys  2024   222274            NaN
253  Metropolitan Police  2014  3423050            NaN
254  Metropolitan Police  2015  3476288            NaN
255  Metropolitan Police  2016  3524092            NaN
256  Metropolitan Police  2017  3545747            NaN
257  Metropolitan Police  2018  3580408            NaN
258  Metropolitan Police  2019  3612968            NaN
259  Metropolitan Police  2020  3614063            NaN
260  Metropolitan Police  2021  3605016            NaN
261  Metropolitan Police  2022  3629765            NaN
262  Metropolitan Police  2023  3667643            NaN
263  Metropolitan Police  2024  3685503            NaN

This is likely to be a difference in spelling between the two dataframes, let's check.

In [77]:
custody_data['pfa'].unique()

array(['Avon and Somerset', 'Bedfordshire', 'Cambridgeshire', 'Cheshire',
       'Cleveland', 'Cumbria', 'Derbyshire', 'Devon and Cornwall',
       'Dorset', 'Durham', 'Dyfed Powys', 'Essex', 'Gloucestershire',
       'Greater Manchester', 'Gwent', 'Hampshire', 'Hertfordshire',
       'Humberside', 'Kent', 'Lancashire', 'Leicestershire',
       'Lincolnshire', 'London', 'Merseyside', 'Norfolk', 'North Wales',
       'North Yorkshire', 'Northamptonshire', 'Northumbria',
       'Nottinghamshire', 'South Wales', 'South Yorkshire',
       'Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Thames Valley',
       'Warwickshire', 'West Mercia', 'West Midlands', 'West Yorkshire',
       'Wiltshire'], dtype=object)

Yep, no hyphen for Dyfed Powys and Met is London, let's change that.

In [83]:
extended_population_data['pfa'].replace({
    'Dyfed-Powys': 'Dyfed Powys',
    'Metropolitan Police': 'London'
    }, inplace=True)
extended_population_data['pfa'].unique()

array(['Avon and Somerset', 'Bedfordshire', 'Cambridgeshire', 'Cheshire',
       'Cleveland', 'Cumbria', 'Derbyshire', 'Devon and Cornwall',
       'Dorset', 'Durham', 'Dyfed Powys', 'Essex', 'Gloucestershire',
       'Greater Manchester', 'Gwent', 'Hampshire', 'Hertfordshire',
       'Humberside', 'Kent', 'Lancashire', 'Leicestershire',
       'Lincolnshire', 'Merseyside', 'London', 'Norfolk', 'North Wales',
       'North Yorkshire', 'Northamptonshire', 'Northumbria',
       'Nottinghamshire', 'South Wales', 'South Yorkshire',
       'Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Thames Valley',
       'Warwickshire', 'West Mercia', 'West Midlands', 'West Yorkshire',
       'Wiltshire'], dtype=object)

In [84]:
merged_df = extended_population_data.merge(
    custody_data,
    on=['pfa', 'year'],
    how='left',
    suffixes=('', '_custody')
)
merged_df

                   pfa  year    freq  custody_count
0    Avon and Somerset  2014  673590            196
1    Avon and Somerset  2015  682193            168
2    Avon and Somerset  2016  692443            165
3    Avon and Somerset  2017  698921            106
4    Avon and Somerset  2018  706285            151
..                 ...   ...     ...            ...
457          Wiltshire  2020  298390             35
458          Wiltshire  2021  301817             32
459          Wiltshire  2022  303639             33
460          Wiltshire  2023  306157             37
461          Wiltshire  2024  308746             32

[462 rows x 4 columns]

In [85]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pfa            462 non-null    object
 1   year           462 non-null    int64
 2   freq           462 non-null    int64
 3   custody_count  462 non-null    int64
dtypes: int64(3), object(1)
memory usage: 14.6+ KB

In [86]:
pfa_checks = ["Dyfed Powys", "London"]
merged_df.query("pfa in @pfa_checks").sort_values(by=['pfa', 'year'])

             pfa  year     freq  custody_count
110  Dyfed Powys  2014   213265             18
111  Dyfed Powys  2015   212745             19
112  Dyfed Powys  2016   212914             19
113  Dyfed Powys  2017   213084             26
114  Dyfed Powys  2018   212897             20
115  Dyfed Powys  2019   213278             31
116  Dyfed Powys  2020   215341             15
117  Dyfed Powys  2021   217306             13
118  Dyfed Powys  2022   218738             20
119  Dyfed Powys  2023   220541             24
120  Dyfed Powys  2024   222274             10
253       London  2014  3423050           1297
254       London  2015  3476288           1187
255       London  2016  3524092           1267
256       London  2017  3545747            980
257       London  2018  3580408           1036
258       London  2019  3612968            908
259       London  2020  3614063            630
260       London  2021  3605016            545
261       London  2022  3629765            583
262       London  2023  3667643            583
263       London  2024  3685503            701

## Building this out into a script

In [87]:
from src.data.processing import combine_custody_pfa_population

In [89]:
combine_custody_pfa_population.main()

2025-07-11 17:27:13,458 - INFO - Loaded data from data/processed/PFA_custodial_sentences_all_FINAL.csv
2025-07-11 17:27:13,473 - INFO - Loaded data from data/interim/LA_PFA_population_women_2011-2023.csv
2025-07-11 17:27:13,479 - INFO - Processing CJS custody data...
2025-07-11 17:27:13,486 - INFO - Processing population data...
2025-07-11 17:27:13,490 - INFO - Aggregating by: pfa, year
2025-07-11 17:27:13,499 - INFO - Custody data extends to 2024, population data to 2023
2025-07-11 17:27:13,500 - INFO - Generating population projections for 2024...
2025-07-11 17:27:13,501 - INFO - Testing projection methods with backtesting validation...
2025-07-11 17:27:13,945 - INFO - Validation Results (Mean Absolute Percentage Error):
2025-07-11 17:27:13,946 - INFO - Linear Trend: 0.44422%
2025-07-11 17:27:13,947 - INFO - CAGR: 0.30332%
2025-07-11 17:27:13,948 - INFO - Moving Average: 0.30317%
2025-07-11 17:27:13,949 - INFO - Best performing method: Moving Average (MAPE: 0.30317%)
2025-07-11 17:27:13,950 - INFO - Adding projections for 2024 to population data...
2025-07-11 17:27:13,956 - INFO - Extended population data: 2014 to 2024
2025-07-11 17:27:13,956 - INFO - Merging custody and population data...
2025-07-11 17:27:13,961 - INFO - Final merged dataset: 462 rows
2025-07-11 17:27:13,962 - INFO - Data covers: 2014 to 2024
2025-07-11 17:27:13,963 - INFO - Data successfully processed and merged with projections.
2025-07-11 17:27:13,965 - INFO - Saving...
2025-07-11 17:27:13,974 - INFO - Data successfully saved to data/processed/pfa_imprisonment_rates_2014-2024.csv