# Women's imprisonment rates
## Merged 2014–2022 timeseries: Calculating rates

#### Importing pandas library and reading in data

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('../data/merged_rate_pop_2014-2019.csv')
df

                   pfa  year  population  no_imp
0    Avon and Somerset  2014      671507     196
1    Avon and Somerset  2015      679322     165
2    Avon and Somerset  2016      686399     164
3    Avon and Somerset  2017      691747     158
4    Avon and Somerset  2018      699074     148
..                 ...   ...         ...     ...
247          Wiltshire  2015      280707      44
248          Wiltshire  2016      282744      49
249          Wiltshire  2017      284852      47
250          Wiltshire  2018      286800      49
251          Wiltshire  2019      288049      49

[252 rows x 4 columns]