# Women's imprisonment rates
## Merged 2014–2022 timeseries: Calculating rates

#### Importing pandas library and reading in data

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/interim/merged_rate_pop_2014-2022_NOT_REBASED.csv')
df

                   pfa  year  population  no_imp
0    Avon and Somerset  2014      640099     196
1    Avon and Somerset  2015      649120     165
2    Avon and Somerset  2016      656882     164
3    Avon and Somerset  2017      662282     158
4    Avon and Somerset  2018      669435     148
..                 ...   ...         ...     ...
373          Wiltshire  2018      277329      49
374          Wiltshire  2019      277747      49
375          Wiltshire  2020      280304      34
376          Wiltshire  2021      290739      33
377          Wiltshire  2022      290739      30

[378 rows x 4 columns]

#### Calculating overall imprisonment rate for England and Wales per year

In [3]:
eng_wales = df.groupby(by='year').agg({'population':'sum', 'no_imp': 'sum'})
eng_wales

      population  no_imp
year
2014    22032119    7418
2015    22247804    7250
2016    22470678    7262
2017    22613978    7182
2018    22761785    6463
2019    22889010    5876
2020    23014964    4383
2021    22854345    4221
2022    22854345    4120

In [4]:
eng_wales['imp_rate'] = eng_wales['no_imp'] / eng_wales['population'] *100000
eng_wales

      population  no_imp   imp_rate
year
2014    22032119    7418  33.669027
2015    22247804    7250  32.587486
2016    22470678    7262  32.317672
2017    22613978    7182  31.759118
2018    22761785    6463  28.394082
2019    22889010    5876  25.671709
2020    23014964    4383  19.044131
2021    22854345    4221  18.469136
2022    22854345    4120  18.027207

#### Just checking against previously published editions to see how comparable our earlier 2017 calculations were when using 2016 mid-year population figures.

In [5]:
wales = ['Dyfed-Powys', 'Gwent', 'North Wales', 'South Wales']

In [6]:
wales_stats = df.query('pfa in @wales')
wales_stats

             pfa  year  population  no_imp
90   Dyfed-Powys  2014      203491      37
91   Dyfed-Powys  2015      203495      33
92   Dyfed-Powys  2016      203886      32
93   Dyfed-Powys  2017      204130      44
94   Dyfed-Powys  2018      204774      41
95   Dyfed-Powys  2019      205775      38
96   Dyfed-Powys  2020      207412      14
97   Dyfed-Powys  2021      203747      14
98   Dyfed-Powys  2022      203747      20
126        Gwent  2014      221606      90
127        Gwent  2015      222680      76
128        Gwent  2016      224266      88
129        Gwent  2017      225496     109
130        Gwent  2018      226830      87
131        Gwent  2019      228333      40
132        Gwent  2020      230384      18
133        Gwent  2021      225526      25
134        Gwent  2022      225526      17
225  North Wales  2014      269567      91
226  North Wales  2015      270287     106
227  North Wales  2016      271338     115
228  North Wales  2017      272505     106
229  North Wales  2018      273741     111
230  North Wales  2019      274844      89
231  North Wales  2020      276941      65
232  North Wales  2021      267434      79
233  North Wales  2022      267434      86
270  South Wales  2014      503696     343
271  South Wales  2015      507167     327
272  South Wales  2016      512505     387
273  South Wales  2017      515781     351
274  South Wales  2018      518940     362
275  South Wales  2019      522657     340
276  South Wales  2020      525966     249
277  South Wales  2021      506931     243
278  South Wales  2022      506931     165

In [7]:
wales_df = wales_stats.groupby(by='year').agg({'population': 'sum', 'no_imp': 'sum'})
wales_df

      population  no_imp
year
2014     1198360     561
2015     1203629     542
2016     1211995     622
2017     1217912     610
2018     1224285     601
2019     1231609     507
2020     1240703     346
2021     1203638     361
2022     1203638     288

In [8]:
wales_df.assign(imp_rate = (wales_df['no_imp']/wales_df['population'])*100000)

      population  no_imp   imp_rate
year
2014     1198360     561  46.813979
2015     1203629     542  45.030487
2016     1211995     622  51.320344
2017     1217912     610  50.085720
2018     1224285     601  49.089877
2019     1231609     507  41.165662
2020     1240703     346  27.887415
2021     1203638     361  29.992406
2022     1203638     288  23.927460

Now for England

In [9]:
eng_stats = df.query('pfa not in @wales')
eng_stats

                   pfa  year  population  no_imp
0    Avon and Somerset  2014      640099     196
1    Avon and Somerset  2015      649120     165
2    Avon and Somerset  2016      656882     164
3    Avon and Somerset  2017      662282     158
4    Avon and Somerset  2018      669435     148
..                 ...   ...         ...     ...
373          Wiltshire  2018      277329      49
374          Wiltshire  2019      277747      49
375          Wiltshire  2020      280304      34
376          Wiltshire  2021      290739      33
377          Wiltshire  2022      290739      30

[342 rows x 4 columns]

In [10]:
eng_df = eng_stats.groupby(by='year').agg({'population': 'sum', 'no_imp': 'sum'})
eng_df

      population  no_imp
year
2014    20833759    6857
2015    21044175    6708
2016    21258683    6640
2017    21396066    6572
2018    21537500    5862
2019    21657401    5369
2020    21774261    4037
2021    21650707    3860
2022    21650707    3832

In [11]:
eng_df.assign(imp_rate = (eng_df['no_imp']/eng_df['population'])*100000)

      population  no_imp   imp_rate
year
2014    20833759    6857  32.912928
2015    21044175    6708  31.875804
2016    21258683    6640  31.234296
2017    21396066    6572  30.715927
2018    21537500    5862  27.217644
2019    21657401    5369  24.790602
2020    21774261    4037  18.540239
2021    21650707    3860  17.828517
2022    21650707    3832  17.699191

#### Continuing the analysis with the PFA data

In [17]:
df['imp_rate'] = (df['no_imp'] / df['population'] *100000).round(1).sort_values(ascending=False)
# df['imp_rate'].round(0).sort_values(ascending=False)

In [18]:
df

                   pfa  year  population  no_imp  imp_rate
0    Avon and Somerset  2014      640099     196      30.6
1    Avon and Somerset  2015      649120     165      25.4
2    Avon and Somerset  2016      656882     164      25.0
3    Avon and Somerset  2017      662282     158      23.9
4    Avon and Somerset  2018      669435     148      22.1
..                 ...   ...         ...     ...       ...
373          Wiltshire  2018      277329      49      17.7
374          Wiltshire  2019      277747      49      17.6
375          Wiltshire  2020      280304      34      12.1
376          Wiltshire  2021      290739      33      11.4
377          Wiltshire  2022      290739      30      10.3

[378 rows x 5 columns]

Just checking these values against those that were previously agreed.

In [20]:
df.query('year == 2019').round(1).sort_values(by='imp_rate', ascending=False)

                     pfa  year  population  no_imp  imp_rate
275          South Wales  2019      522657     340      65.1
41             Cleveland  2019      215869      98      45.4
266      Nottinghamshire  2019      455708     184      40.4
203           Merseyside  2019      551401     213      38.6
356        West Midlands  2019     1093083     406      37.1
32              Cheshire  2019      410269     149      36.3
50               Cumbria  2019      198797      72      36.2
158           Humberside  2019      364142     129      35.4
365       West Yorkshire  2019      877410     301      34.3
230          North Wales  2019      274844      89      32.4
284      South Yorkshire  2019      548594     172      31.4
59            Derbyshire  2019      412408     123      29.8
293        Staffordshire  2019      449124     132      29.4
239      North Yorkshire  2019      328596      95      28.9
176           Lancashire  2019      583177     164      28.1
23        Cambridgeshire  2019      331088      89      26.9
212  Metropolitan Police  2019     3430425     884      25.8
257          Northumbria  2019      573406     137      23.9
221              Norfolk  2019      357482      84      23.5
122   Greater Manchester  2019     1079622     251      23.2
5      Avon and Somerset  2019      671756     151      22.5
347          West Mercia  2019      506966     113      22.3
185       Leicestershire  2019      427093      95      22.2
104                Essex  2019      699717     155      22.2
167                 Kent  2019      704728     156      22.1
194         Lincolnshire  2019      298479      65      21.8
248     Northamptonshire  2019      285223      62      21.7
338         Warwickshire  2019      225415      46      20.4
77                Dorset  2019      308305      61      19.8
95           Dyfed-Powys  2019      205775      38      18.5
374            Wiltshire  2019      277747      49      17.6
131                Gwent  2019      228333      40      17.5
329        Thames Valley  2019      913330     160      17.5
86                Durham  2019      249246      41      16.4
140            Hampshire  2019      777098     126      16.2
149        Hertfordshire  2019      442615      68      15.4
68    Devon and Cornwall  2019      694646     106      15.3
113      Gloucestershire  2019      246841      36      14.6
302              Suffolk  2019      297551      38      12.8
320               Sussex  2019      664964      85      12.8
14          Bedfordshire  2019      252824      31      12.3
311               Surrey  2019      452256      42       9.3

In [23]:
df.query('pfa == "Metropolitan Police"')

                     pfa  year  population  no_imp  imp_rate
207  Metropolitan Police  2014     3249559    1290      39.7
208  Metropolitan Police  2015     3303914    1180      35.7
209  Metropolitan Police  2016     3351044    1272      38.0
210  Metropolitan Police  2017     3371167    1192      35.4
211  Metropolitan Police  2018     3409951     998      29.3
212  Metropolitan Police  2019     3430425     884      25.8
213  Metropolitan Police  2020     3459224     632      18.3
214  Metropolitan Police  2021     3296835     536      16.3
215  Metropolitan Police  2022     3296835     576      17.5

Despite some of the rates coming out ± 1 the ordering looks very similar to the previously published version. So I'm happy to go ahead with this.

In [ ]:
df

In [22]:
df.to_csv('data/processed/pfa_imprisonment_rates_2014-2022.csv', index=False)

Now to pivot this table to the final publication format

In [24]:
df_pivot = df.pivot_table(index='pfa', columns='year', values='imp_rate')

In [25]:
df_pivot

year                 2014  2015  2016  2017  2018  2019  2020  2021  2022
pfa
Avon and Somerset    30.6  25.4  25.0  23.9  22.1  22.5  15.2  15.1  17.0
Bedfordshire         28.5  32.5  21.2  21.2  14.3  12.3   9.0   7.5  14.3
Cambridgeshire       28.4  27.4  34.2  35.0  35.1  26.9  23.4  13.6  19.6
Cheshire             42.3  45.0  41.3  42.4  43.2  36.3  29.9  27.4  17.4
Cleveland            42.8  36.6  50.5  70.9  65.1  45.4  25.4  47.9  46.5
Cumbria              46.6  52.0  46.4  52.5  66.5  36.2  22.7  20.0  14.5
Derbyshire           42.8  44.5  43.4  42.7  43.5  29.8  31.4  30.5  29.5
Devon and Cornwall   17.4  18.8  17.7  21.6  17.4  15.3  15.2  12.2   8.9
Dorset               18.7  22.2  17.1  23.8  16.9  19.8  11.3  12.3   7.4
Durham               33.8  31.2  32.6  26.0  31.9  16.4  22.3  20.4  23.2
Dyfed-Powys          18.2  16.2  15.7  21.6  20.0  18.5   6.7   6.9   9.8
Essex                29.4  23.8  25.6  25.5  26.1  22.2  13.0  10.8  13.1
Gloucestershire      27.9  29.7  24.1  23.8  16.7  14.6   7.3   5.2   9.2
Greater Manchester   43.1  38.4  29.0  25.3  20.3  23.2  17.1  16.9  18.5
Gwent                40.6  34.1  39.2  48.3  38.4  17.5   7.8  11.1   7.5
Hampshire            25.4  27.3  20.6  22.3  20.4  16.2  16.4  12.8  11.3
Hertfordshire        21.3  20.4  25.0  22.9  16.3  15.4   8.5   8.5   9.8
Humberside           42.7  37.6  40.5  33.6  43.1  35.4  37.6  36.7  32.5
Kent                 29.3  27.7  31.5  32.2  27.6  22.1  17.4  19.3  20.4
Lancashire           41.4  37.8  29.3  34.4  34.2  28.1  19.3  24.9  19.6
Leicestershire       25.3  21.6  22.9  25.9  26.4  22.2  20.9  14.6  16.2
Lincolnshire         14.0  18.0  22.7  20.7  24.7  21.8  10.3  14.2  15.2
Merseyside           46.1  49.3  48.7  43.2  37.0  38.6  29.5  35.9  35.7
Metropolitan Police  39.7  35.7  38.0  35.4  29.3  25.8  18.3  16.3  17.5
Norfolk              24.9  28.1  35.3  30.5  27.5  23.5  21.1  17.0  14.8
North Wales          33.8  39.2  42.4  38.9  40.5  32.4  23.5  29.5  32.2
North Yorkshire      25.8  24.4  25.7  27.8  27.0  28.9  24.8  16.0  16.0
Northamptonshire     34.1  25.6  28.1  22.1  21.6  21.7  12.6  21.3  15.9
Northumbria          30.8  31.5  29.2  26.0  24.7  23.9  14.2  19.2  20.2
Nottinghamshire      32.5  37.9  33.0  36.2  37.8  40.4  23.7  23.6  29.7
South Wales          68.1  64.5  75.5  68.1  69.8  65.1  47.3  47.9  32.5
South Yorkshire      46.3  42.9  36.0  40.2  28.0  31.4  25.0  18.4  20.1
Staffordshire        28.4  28.7  25.5  28.7  25.5  29.4  19.5  21.5  17.5
Suffolk              27.3  25.0  16.7  24.3  17.8  12.8  13.1  14.0  12.0
Surrey               20.4  14.2  14.1  16.9   9.8   9.3   6.4   7.5   4.2
Sussex               20.6  24.8  19.8  15.8  14.7  12.8   9.9   9.8   9.4
Thames Valley        24.1  28.6  24.6  24.9  21.3  17.5  11.0  14.9  15.0
Warwickshire         19.0  26.3  27.5  30.4  13.9  20.4  16.7  12.0  17.5
West Mercia          23.6  20.8  22.6  24.6  21.2  22.3  19.2  12.1   9.2
West Midlands        50.5  49.0  51.9  44.2  36.4  37.1  23.1  21.0  20.1
West Yorkshire       34.8  34.0  38.7  38.5  32.7  34.3  29.8  28.4  28.5
Wiltshire            11.9  16.2  17.9  17.0  17.7  17.6  12.1  11.4  10.3

In [29]:
df_pivot.sort_values(by=[2022], ascending=True, inplace=True)
df_pivot

year                 2014  2015  2016  2017  2018  2019  2020  2021  2022
pfa
Surrey               20.4  14.2  14.1  16.9   9.8   9.3   6.4   7.5   4.2
Dorset               18.7  22.2  17.1  23.8  16.9  19.8  11.3  12.3   7.4
Gwent                40.6  34.1  39.2  48.3  38.4  17.5   7.8  11.1   7.5
Devon and Cornwall   17.4  18.8  17.7  21.6  17.4  15.3  15.2  12.2   8.9
Gloucestershire      27.9  29.7  24.1  23.8  16.7  14.6   7.3   5.2   9.2
West Mercia          23.6  20.8  22.6  24.6  21.2  22.3  19.2  12.1   9.2
Sussex               20.6  24.8  19.8  15.8  14.7  12.8   9.9   9.8   9.4
Dyfed-Powys          18.2  16.2  15.7  21.6  20.0  18.5   6.7   6.9   9.8
Hertfordshire        21.3  20.4  25.0  22.9  16.3  15.4   8.5   8.5   9.8
Wiltshire            11.9  16.2  17.9  17.0  17.7  17.6  12.1  11.4  10.3
Hampshire            25.4  27.3  20.6  22.3  20.4  16.2  16.4  12.8  11.3
Suffolk              27.3  25.0  16.7  24.3  17.8  12.8  13.1  14.0  12.0
Essex                29.4  23.8  25.6  25.5  26.1  22.2  13.0  10.8  13.1
Bedfordshire         28.5  32.5  21.2  21.2  14.3  12.3   9.0   7.5  14.3
Cumbria              46.6  52.0  46.4  52.5  66.5  36.2  22.7  20.0  14.5
Norfolk              24.9  28.1  35.3  30.5  27.5  23.5  21.1  17.0  14.8
Thames Valley        24.1  28.6  24.6  24.9  21.3  17.5  11.0  14.9  15.0
Lincolnshire         14.0  18.0  22.7  20.7  24.7  21.8  10.3  14.2  15.2
Northamptonshire     34.1  25.6  28.1  22.1  21.6  21.7  12.6  21.3  15.9
North Yorkshire      25.8  24.4  25.7  27.8  27.0  28.9  24.8  16.0  16.0
Leicestershire       25.3  21.6  22.9  25.9  26.4  22.2  20.9  14.6  16.2
Avon and Somerset    30.6  25.4  25.0  23.9  22.1  22.5  15.2  15.1  17.0
Cheshire             42.3  45.0  41.3  42.4  43.2  36.3  29.9  27.4  17.4
Warwickshire         19.0  26.3  27.5  30.4  13.9  20.4  16.7  12.0  17.5
Metropolitan Police  39.7  35.7  38.0  35.4  29.3  25.8  18.3  16.3  17.5
Staffordshire        28.4  28.7  25.5  28.7  25.5  29.4  19.5  21.5  17.5
Greater Manchester   43.1  38.4  29.0  25.3  20.3  23.2  17.1  16.9  18.5
Lancashire           41.4  37.8  29.3  34.4  34.2  28.1  19.3  24.9  19.6
Cambridgeshire       28.4  27.4  34.2  35.0  35.1  26.9  23.4  13.6  19.6
West Midlands        50.5  49.0  51.9  44.2  36.4  37.1  23.1  21.0  20.1
South Yorkshire      46.3  42.9  36.0  40.2  28.0  31.4  25.0  18.4  20.1
Northumbria          30.8  31.5  29.2  26.0  24.7  23.9  14.2  19.2  20.2
Kent                 29.3  27.7  31.5  32.2  27.6  22.1  17.4  19.3  20.4
Durham               33.8  31.2  32.6  26.0  31.9  16.4  22.3  20.4  23.2
West Yorkshire       34.8  34.0  38.7  38.5  32.7  34.3  29.8  28.4  28.5
Derbyshire           42.8  44.5  43.4  42.7  43.5  29.8  31.4  30.5  29.5
Nottinghamshire      32.5  37.9  33.0  36.2  37.8  40.4  23.7  23.6  29.7
North Wales          33.8  39.2  42.4  38.9  40.5  32.4  23.5  29.5  32.2
Humberside           42.7  37.6  40.5  33.6  43.1  35.4  37.6  36.7  32.5
South Wales          68.1  64.5  75.5  68.1  69.8  65.1  47.3  47.9  32.5
Merseyside           46.1  49.3  48.7  43.2  37.0  38.6  29.5  35.9  35.7
Cleveland            42.8  36.6  50.5  70.9  65.1  45.4  25.4  47.9  46.5

All looks good, let's save it out to a new CSV

In [30]:
df_pivot.to_csv('data/processed/pfa_imprisonment_rates_2014-2022_final_table.csv')