# Women's imprisonment
## Criminal Justice Statistics Police Force Area: Offences chart

In [1]:
%load_ext autoreload
%autoreload 2

## Testing `custody_offences.py`

In [2]:
from src.visualization import custody_offences

Checking that the template `INPUT_FILENAME` is returned correctly

In [3]:
custody_offences.INPUT_FILENAME

'PFA_custodial_sentences_by_offence_2024_FINAL.csv'

In [9]:
df = custody_offences.get_data()
df

2025-06-18 16:01:27,177 - INFO - Loaded data from data/processed/PFA_custodial_sentences_by_offence_2024_FINAL.csv

2025-06-18 16:01:27,179 - INFO - Preparing data for PFA offences chart
2025-06-18 16:01:27,213 - INFO - Data successfully prepared for PFA offences chart

,pfa,offence,proportion,parent,plot_order
0,Avon and Somerset,Breaches,0.000,All other<br>offences,0.0
1,Bedfordshire,Breaches,0.000,All other<br>offences,0.0
2,Cambridgeshire,Breaches,0.000,All other<br>offences,0.0
3,Cheshire,Breaches,0.000,All other<br>offences,0.0
4,Cleveland,Breaches,0.000,All other<br>offences,0.0
...,...,...,...,...,...
583,Warwickshire,Violence\nagainst the\nperson,0.178,All offences,3.0
584,West Mercia,Violence\nagainst the\nperson,0.140,All offences,3.0
585,West Midlands,Violence\nagainst the\nperson,0.176,All offences,3.0
586,West Yorkshire,Violence\nagainst the\nperson,0.192,All offences,3.0
587,Wiltshire,Violence\nagainst the\nperson,0.156,All offences,3.0

## Moving data processing steps to `filter_custody_offences.py` and testing

In [10]:
from src.data.processing import filter_custody_offences

In [37]:
df, max_year = filter_custody_offences.load_and_process_data()

2025-06-18 16:52:58,921 - INFO - Loaded data from data/interim/women_cust_comm_sus.csv
2025-06-18 16:52:59,220 - INFO - Filtering data for custodial sentences...
2025-06-18 16:52:59,230 - INFO - Filtering data from 2024 onwards
2025-06-18 16:52:59,233 - INFO - Grouping data by PFA, year, and offence...
2025-06-18 16:52:59,253 - INFO - Melting DataFrame to long format...
2025-06-18 16:52:59,258 - INFO - Creating filter for highlighted offence groups...
2025-06-18 16:52:59,259 - INFO - Setting parent column for offence groups...
2025-06-18 16:52:59,261 - INFO - Setting plot order for offences...
2025-06-18 16:52:59,285 - INFO - Data successfully processed for PFA offences charts

In [ ]:
df.head()

                 pfa   offence  proportion               parent  plot_order
0  Avon and Somerset  Breaches         0.0  All other\noffences         0.0
1       Bedfordshire  Breaches         0.0  All other\noffences         0.0
2     Cambridgeshire  Breaches         0.0  All other\noffences         0.0
3           Cheshire  Breaches         0.0  All other\noffences         0.0
4          Cleveland  Breaches         0.0  All other\noffences         0.0

In [35]:
max_year

np.int64(2024)

In [36]:
df['offence'].value_counts()

offence
Breaches                                  42
Criminal damage and\narson                42
Drug\noffences                            42
Fraud offences                            42
Miscellaneous\ncrimes against\nsociety    42
Not known                                 42
Possession of\nweapons                    42
Public order\noffences                    42
Robbery                                   42
Sexual offences                           42
Summary motoring                          42
Summary non-\nmotoring                    42
Theft\noffences                           42
Violence\nagainst the\nperson             42
Name: count, dtype: int64

In [38]:
df['plot_order'].value_counts()

plot_order
0.0    462
2.0     42
1.0     42
3.0     42
Name: count, dtype: int64